body {
    margin: 0;
}

header,footer {
    background-color: gray;
    color: white;
    overflow: hidden;  
    width: 100%;
}

div#content {
    margin: 10px;
}
section.row {
    background-color: yellow;
    width: 99%;
}
section.col {
    width: 33%;
    float: left;
    background-color: red;
}
section.lasagna{
    background-image: url(https://i.ytimg.com/vi/2qLwkT1F4Lc/maxresdefault.jpg);
    height: 50%;
    width: 99%;
    background-position: center;
    background-repeat: no-repeat;
    background-size: relative;
}
